02_READ_QC/
04_assemblies/*/
08_GC_coverage/CBS47491/data/
08_GC_coverage/CBS57363/data/
08_GC_coverage/CBS95973/data/
08_GC_coverage/CBS119000/data/
08_GC_coverage/CBS139747/data/
08_GC_coverage/CBS139899/data/
08_GC_coverage/CBS140593/data/
R_markdown/*.html
09_orthology/OrthoFinder/Results_Aug07/gained_and_lost/*.xls
09_orthology/OrthoFinder/Results_Aug07/gained_and_lost/KEGG/
10_annotations/antiSMASH/
10_annotations/dbcan3/
10_annotations/funannotate/
10_annotations/DeepLoc2/
10_annotations/annotation_tables_funannotate/
10_annotations/annotation_tables_merged/
10_annotations/protein_fasta/
10_annotations/fastas/
10_annotations/dbcan4/
10_annotations/figures/
11_LPMO_trees/AA14/Fungi/
11_LPMO_trees/AA14/Fungi_March2024/itol/just_Hypocreales/
11_LPMO_trees/AA14/Sordariomycetes/
12_starfish/gff3/
13_dnds/*
manuscript/
